@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');

body {
  background: rebeccapurple;
}

#box {
  border: solid black;
}

p,a,button {
  color: white;
  background: black;
}

.row {
  display: flex;
  justify-content: center;
}

.row2 {
  display: flex;
  justify-content: center;
}

#onesText {
  color:antiquewhite;
  background: black;
}

#twosText {
  color:antiquewhite;
  background: black;
}

#threesText {
  color:antiquewhite;
  background: black;
}

#foursText {
  color:antiquewhite;
  background: black;
}

#fivesText {
  color:antiquewhite;
  background: black;
}

#sixesText {
  color:antiquewhite;
  background: black;
}

#some {
  color:antiquewhite;
  background: black;
}

#realbonus {
  color:antiquewhite;
  background: black;
}

#threeofakind {
  color:antiquewhite;
  background: black;
}

#fourofakind {
  color:antiquewhite;
  background: black;
}

#fullhouse {
  color:antiquewhite;
  background: black;
}

#smallstraight {
  color:antiquewhite;
  background: black;
}

#largestraight {
  color:antiquewhite;
  background: black;
}

#chance {
  color:antiquewhite;
  background: black;
}

#yahtzee {
  color:antiquewhite;
  background: black;
}

.held {
  border-color: red;
  border-style: solid;
  border-width: 7px;
}

